/* Global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common Uses Class with Styles */
.primary-font {
    font-family: 'Lato', sans-serif;
}

.primary-color {
    color: #E55473;
}

.primary-bg-color {
    background-color: rgba(229, 84, 115, 0.10);
}

.primary-heading-color {
    color: #272727;
}

.primary-text-color {
    color: rgba(39, 39, 39, 0.60);
}

.secondary-text-color {
    color: rgba(255, 255, 255, 0.90);
}

.primary-btn {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    background-color: #E55473;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 18px 300px;
}


/* Common Used end */

/* (Section #1) Hero section styles  */
.hero-section {
    background-color: rgba(229, 84, 115, 0.10);
}

.hero-content {
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.hero-left,
.hero-right {
    flex-basis: 50%;
}

.hero-right {
    margin-left: 80px;
}

.hero-title {
    color: #272727;
    font-family: "Lato", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-desc {
    color: rgba(39, 39, 39, 0.60);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 28px 0;
}

.hero-right-content .hero-img {
    max-height: 700px;
    vertical-align: bottom;
}

/* Featured Section styles */
.featured-section {
    padding: 50px 0px;
}

.featured-title {
    padding-top: 90px;
}

.featured-inner-aria {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.featured-content-box {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.img-container-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 460px;
    border-radius: 300px 300px 0px 0px;
    background-color: #eee;
}

.img-container-box>img {
    width: 260px;
}

.featured-img-link {
    color: #272727;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration-line: underline;
    display: inline-block;
    padding-top: 20px;
}

.img-container-box.one {
    background: rgba(167, 33, 98, 0.15);
}

.img-container-box.two {
    background: rgba(5, 151, 160, 0.15);
}

.img-container-box.three {
    background: rgba(71, 125, 17, 0.15);
}

/* Footer */
.footer {
    background-color: #111010;
    padding: 80px 0;
    color: #fff;
    text-align: center;
}

.footer-title {
    color: #E55473;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px 0;
}

/* Subscription */

.subscription {
    padding-top: 40px;
    padding-bottom: 80px;
}

.subs-content {
    background-image: url("/images/subscribtion-aria.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    border-radius: 5px;
}

.subs-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.subs-btn {
    border: none;
    outline: none;
}

.subs-form input[type=email] {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 600px;
    padding: 14px 22px;
    margin-right: 5px;
}